$/improper:bytype1 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[0]/a33 $/atom:poly[0]/a32 $/atom:poly[0]/a34 $/atom:poly[0]/a35
$/improper:bytype2 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[0]/a55 $/atom:poly[0]/a54 $/atom:poly[0]/a56 $/atom:poly[0]/a57
$/improper:bytype3 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[0]/a128 $/atom:poly[0]/a127 $/atom:poly[0]/a129 $/atom:poly[0]/a130
$/improper:bytype4 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[0]/a150 $/atom:poly[0]/a149 $/atom:poly[0]/a151 $/atom:poly[0]/a152
$/improper:bytype5 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[0]/a224 $/atom:poly[0]/a223 $/atom:poly[0]/a225 $/atom:poly[0]/a226
$/improper:bytype6 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[0]/a245 $/atom:poly[0]/a244 $/atom:poly[0]/a246 $/atom:poly[0]/a247
$/improper:bytype7 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[1]/a33 $/atom:poly[1]/a32 $/atom:poly[1]/a34 $/atom:poly[1]/a35
$/improper:bytype8 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[1]/a55 $/atom:poly[1]/a54 $/atom:poly[1]/a56 $/atom:poly[1]/a57
$/improper:bytype9 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[1]/a128 $/atom:poly[1]/a127 $/atom:poly[1]/a129 $/atom:poly[1]/a130
$/improper:bytype10 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[1]/a150 $/atom:poly[1]/a149 $/atom:poly[1]/a151 $/atom:poly[1]/a152
$/improper:bytype11 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[1]/a224 $/atom:poly[1]/a223 $/atom:poly[1]/a225 $/atom:poly[1]/a226
$/improper:bytype12 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[1]/a245 $/atom:poly[1]/a244 $/atom:poly[1]/a246 $/atom:poly[1]/a247
$/improper:bytype13 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[2]/a33 $/atom:poly[2]/a32 $/atom:poly[2]/a34 $/atom:poly[2]/a35
$/improper:bytype14 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[2]/a55 $/atom:poly[2]/a54 $/atom:poly[2]/a56 $/atom:poly[2]/a57
$/improper:bytype15 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[2]/a128 $/atom:poly[2]/a127 $/atom:poly[2]/a129 $/atom:poly[2]/a130
$/improper:bytype16 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[2]/a150 $/atom:poly[2]/a149 $/atom:poly[2]/a151 $/atom:poly[2]/a152
$/improper:bytype17 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[2]/a224 $/atom:poly[2]/a223 $/atom:poly[2]/a225 $/atom:poly[2]/a226
$/improper:bytype18 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[2]/a245 $/atom:poly[2]/a244 $/atom:poly[2]/a246 $/atom:poly[2]/a247
$/improper:bytype19 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[3]/a33 $/atom:poly[3]/a32 $/atom:poly[3]/a34 $/atom:poly[3]/a35
$/improper:bytype20 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[3]/a55 $/atom:poly[3]/a54 $/atom:poly[3]/a56 $/atom:poly[3]/a57
$/improper:bytype21 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[3]/a128 $/atom:poly[3]/a127 $/atom:poly[3]/a129 $/atom:poly[3]/a130
$/improper:bytype22 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[3]/a150 $/atom:poly[3]/a149 $/atom:poly[3]/a151 $/atom:poly[3]/a152
$/improper:bytype23 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[3]/a224 $/atom:poly[3]/a223 $/atom:poly[3]/a225 $/atom:poly[3]/a226
$/improper:bytype24 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[3]/a245 $/atom:poly[3]/a244 $/atom:poly[3]/a246 $/atom:poly[3]/a247
$/improper:bytype25 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[4]/a33 $/atom:poly[4]/a32 $/atom:poly[4]/a34 $/atom:poly[4]/a35
$/improper:bytype26 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[4]/a55 $/atom:poly[4]/a54 $/atom:poly[4]/a56 $/atom:poly[4]/a57
$/improper:bytype27 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[4]/a128 $/atom:poly[4]/a127 $/atom:poly[4]/a129 $/atom:poly[4]/a130
$/improper:bytype28 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[4]/a150 $/atom:poly[4]/a149 $/atom:poly[4]/a151 $/atom:poly[4]/a152
$/improper:bytype29 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[4]/a224 $/atom:poly[4]/a223 $/atom:poly[4]/a225 $/atom:poly[4]/a226
$/improper:bytype30 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[4]/a245 $/atom:poly[4]/a244 $/atom:poly[4]/a246 $/atom:poly[4]/a247
$/improper:bytype31 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[5]/a33 $/atom:poly[5]/a32 $/atom:poly[5]/a34 $/atom:poly[5]/a35
$/improper:bytype32 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[5]/a55 $/atom:poly[5]/a54 $/atom:poly[5]/a56 $/atom:poly[5]/a57
$/improper:bytype33 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[5]/a128 $/atom:poly[5]/a127 $/atom:poly[5]/a129 $/atom:poly[5]/a130
$/improper:bytype34 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[5]/a150 $/atom:poly[5]/a149 $/atom:poly[5]/a151 $/atom:poly[5]/a152
$/improper:bytype35 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[5]/a224 $/atom:poly[5]/a223 $/atom:poly[5]/a225 $/atom:poly[5]/a226
$/improper:bytype36 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[5]/a245 $/atom:poly[5]/a244 $/atom:poly[5]/a246 $/atom:poly[5]/a247
$/improper:bytype37 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[6]/a33 $/atom:poly[6]/a32 $/atom:poly[6]/a34 $/atom:poly[6]/a35
$/improper:bytype38 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[6]/a55 $/atom:poly[6]/a54 $/atom:poly[6]/a56 $/atom:poly[6]/a57
$/improper:bytype39 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[6]/a128 $/atom:poly[6]/a127 $/atom:poly[6]/a129 $/atom:poly[6]/a130
$/improper:bytype40 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[6]/a150 $/atom:poly[6]/a149 $/atom:poly[6]/a151 $/atom:poly[6]/a152
$/improper:bytype41 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[6]/a224 $/atom:poly[6]/a223 $/atom:poly[6]/a225 $/atom:poly[6]/a226
$/improper:bytype42 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[6]/a245 $/atom:poly[6]/a244 $/atom:poly[6]/a246 $/atom:poly[6]/a247
$/improper:bytype43 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[7]/a33 $/atom:poly[7]/a32 $/atom:poly[7]/a34 $/atom:poly[7]/a35
$/improper:bytype44 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[7]/a55 $/atom:poly[7]/a54 $/atom:poly[7]/a56 $/atom:poly[7]/a57
$/improper:bytype45 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[7]/a128 $/atom:poly[7]/a127 $/atom:poly[7]/a129 $/atom:poly[7]/a130
$/improper:bytype46 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[7]/a150 $/atom:poly[7]/a149 $/atom:poly[7]/a151 $/atom:poly[7]/a152
$/improper:bytype47 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[7]/a224 $/atom:poly[7]/a223 $/atom:poly[7]/a225 $/atom:poly[7]/a226
$/improper:bytype48 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[7]/a245 $/atom:poly[7]/a244 $/atom:poly[7]/a246 $/atom:poly[7]/a247
$/improper:bytype49 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[8]/a33 $/atom:poly[8]/a32 $/atom:poly[8]/a34 $/atom:poly[8]/a35
$/improper:bytype50 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[8]/a55 $/atom:poly[8]/a54 $/atom:poly[8]/a56 $/atom:poly[8]/a57
$/improper:bytype51 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[8]/a128 $/atom:poly[8]/a127 $/atom:poly[8]/a129 $/atom:poly[8]/a130
$/improper:bytype52 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[8]/a150 $/atom:poly[8]/a149 $/atom:poly[8]/a151 $/atom:poly[8]/a152
$/improper:bytype53 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[8]/a224 $/atom:poly[8]/a223 $/atom:poly[8]/a225 $/atom:poly[8]/a226
$/improper:bytype54 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[8]/a245 $/atom:poly[8]/a244 $/atom:poly[8]/a246 $/atom:poly[8]/a247
$/improper:bytype55 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[9]/a33 $/atom:poly[9]/a32 $/atom:poly[9]/a34 $/atom:poly[9]/a35
$/improper:bytype56 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[9]/a55 $/atom:poly[9]/a54 $/atom:poly[9]/a56 $/atom:poly[9]/a57
$/improper:bytype57 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[9]/a128 $/atom:poly[9]/a127 $/atom:poly[9]/a129 $/atom:poly[9]/a130
$/improper:bytype58 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[9]/a150 $/atom:poly[9]/a149 $/atom:poly[9]/a151 $/atom:poly[9]/a152
$/improper:bytype59 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[9]/a224 $/atom:poly[9]/a223 $/atom:poly[9]/a225 $/atom:poly[9]/a226
$/improper:bytype60 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[9]/a245 $/atom:poly[9]/a244 $/atom:poly[9]/a246 $/atom:poly[9]/a247
$/improper:bytype61 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[10]/a33 $/atom:poly[10]/a32 $/atom:poly[10]/a34 $/atom:poly[10]/a35
$/improper:bytype62 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[10]/a55 $/atom:poly[10]/a54 $/atom:poly[10]/a56 $/atom:poly[10]/a57
$/improper:bytype63 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[10]/a128 $/atom:poly[10]/a127 $/atom:poly[10]/a129 $/atom:poly[10]/a130
$/improper:bytype64 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[10]/a150 $/atom:poly[10]/a149 $/atom:poly[10]/a151 $/atom:poly[10]/a152
$/improper:bytype65 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[10]/a224 $/atom:poly[10]/a223 $/atom:poly[10]/a225 $/atom:poly[10]/a226
$/improper:bytype66 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[10]/a245 $/atom:poly[10]/a244 $/atom:poly[10]/a246 $/atom:poly[10]/a247
$/improper:bytype67 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[11]/a33 $/atom:poly[11]/a32 $/atom:poly[11]/a34 $/atom:poly[11]/a35
$/improper:bytype68 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[11]/a55 $/atom:poly[11]/a54 $/atom:poly[11]/a56 $/atom:poly[11]/a57
$/improper:bytype69 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[11]/a128 $/atom:poly[11]/a127 $/atom:poly[11]/a129 $/atom:poly[11]/a130
$/improper:bytype70 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[11]/a150 $/atom:poly[11]/a149 $/atom:poly[11]/a151 $/atom:poly[11]/a152
$/improper:bytype71 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[11]/a224 $/atom:poly[11]/a223 $/atom:poly[11]/a225 $/atom:poly[11]/a226
$/improper:bytype72 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[11]/a245 $/atom:poly[11]/a244 $/atom:poly[11]/a246 $/atom:poly[11]/a247
$/improper:bytype73 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[12]/a33 $/atom:poly[12]/a32 $/atom:poly[12]/a34 $/atom:poly[12]/a35
$/improper:bytype74 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[12]/a55 $/atom:poly[12]/a54 $/atom:poly[12]/a56 $/atom:poly[12]/a57
$/improper:bytype75 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[12]/a128 $/atom:poly[12]/a127 $/atom:poly[12]/a129 $/atom:poly[12]/a130
$/improper:bytype76 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[12]/a150 $/atom:poly[12]/a149 $/atom:poly[12]/a151 $/atom:poly[12]/a152
$/improper:bytype77 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[12]/a224 $/atom:poly[12]/a223 $/atom:poly[12]/a225 $/atom:poly[12]/a226
$/improper:bytype78 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[12]/a245 $/atom:poly[12]/a244 $/atom:poly[12]/a246 $/atom:poly[12]/a247
$/improper:bytype79 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[13]/a33 $/atom:poly[13]/a32 $/atom:poly[13]/a34 $/atom:poly[13]/a35
$/improper:bytype80 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[13]/a55 $/atom:poly[13]/a54 $/atom:poly[13]/a56 $/atom:poly[13]/a57
$/improper:bytype81 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[13]/a128 $/atom:poly[13]/a127 $/atom:poly[13]/a129 $/atom:poly[13]/a130
$/improper:bytype82 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[13]/a150 $/atom:poly[13]/a149 $/atom:poly[13]/a151 $/atom:poly[13]/a152
$/improper:bytype83 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[13]/a224 $/atom:poly[13]/a223 $/atom:poly[13]/a225 $/atom:poly[13]/a226
$/improper:bytype84 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[13]/a245 $/atom:poly[13]/a244 $/atom:poly[13]/a246 $/atom:poly[13]/a247
$/improper:bytype85 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[14]/a33 $/atom:poly[14]/a32 $/atom:poly[14]/a34 $/atom:poly[14]/a35
$/improper:bytype86 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[14]/a55 $/atom:poly[14]/a54 $/atom:poly[14]/a56 $/atom:poly[14]/a57
$/improper:bytype87 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[14]/a128 $/atom:poly[14]/a127 $/atom:poly[14]/a129 $/atom:poly[14]/a130
$/improper:bytype88 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[14]/a150 $/atom:poly[14]/a149 $/atom:poly[14]/a151 $/atom:poly[14]/a152
$/improper:bytype89 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[14]/a224 $/atom:poly[14]/a223 $/atom:poly[14]/a225 $/atom:poly[14]/a226
$/improper:bytype90 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[14]/a245 $/atom:poly[14]/a244 $/atom:poly[14]/a246 $/atom:poly[14]/a247
$/improper:bytype91 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[15]/a33 $/atom:poly[15]/a32 $/atom:poly[15]/a34 $/atom:poly[15]/a35
$/improper:bytype92 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[15]/a55 $/atom:poly[15]/a54 $/atom:poly[15]/a56 $/atom:poly[15]/a57
$/improper:bytype93 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[15]/a128 $/atom:poly[15]/a127 $/atom:poly[15]/a129 $/atom:poly[15]/a130
$/improper:bytype94 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[15]/a150 $/atom:poly[15]/a149 $/atom:poly[15]/a151 $/atom:poly[15]/a152
$/improper:bytype95 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[15]/a224 $/atom:poly[15]/a223 $/atom:poly[15]/a225 $/atom:poly[15]/a226
$/improper:bytype96 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[15]/a245 $/atom:poly[15]/a244 $/atom:poly[15]/a246 $/atom:poly[15]/a247
$/improper:bytype97 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[16]/a33 $/atom:poly[16]/a32 $/atom:poly[16]/a34 $/atom:poly[16]/a35
$/improper:bytype98 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[16]/a55 $/atom:poly[16]/a54 $/atom:poly[16]/a56 $/atom:poly[16]/a57
$/improper:bytype99 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[16]/a128 $/atom:poly[16]/a127 $/atom:poly[16]/a129 $/atom:poly[16]/a130
$/improper:bytype100 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[16]/a150 $/atom:poly[16]/a149 $/atom:poly[16]/a151 $/atom:poly[16]/a152
$/improper:bytype101 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[16]/a224 $/atom:poly[16]/a223 $/atom:poly[16]/a225 $/atom:poly[16]/a226
$/improper:bytype102 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[16]/a245 $/atom:poly[16]/a244 $/atom:poly[16]/a246 $/atom:poly[16]/a247
$/improper:bytype103 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[17]/a33 $/atom:poly[17]/a32 $/atom:poly[17]/a34 $/atom:poly[17]/a35
$/improper:bytype104 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[17]/a55 $/atom:poly[17]/a54 $/atom:poly[17]/a56 $/atom:poly[17]/a57
$/improper:bytype105 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[17]/a128 $/atom:poly[17]/a127 $/atom:poly[17]/a129 $/atom:poly[17]/a130
$/improper:bytype106 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[17]/a150 $/atom:poly[17]/a149 $/atom:poly[17]/a151 $/atom:poly[17]/a152
$/improper:bytype107 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[17]/a224 $/atom:poly[17]/a223 $/atom:poly[17]/a225 $/atom:poly[17]/a226
$/improper:bytype108 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[17]/a245 $/atom:poly[17]/a244 $/atom:poly[17]/a246 $/atom:poly[17]/a247
$/improper:bytype109 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[18]/a33 $/atom:poly[18]/a32 $/atom:poly[18]/a34 $/atom:poly[18]/a35
$/improper:bytype110 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[18]/a55 $/atom:poly[18]/a54 $/atom:poly[18]/a56 $/atom:poly[18]/a57
$/improper:bytype111 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[18]/a128 $/atom:poly[18]/a127 $/atom:poly[18]/a129 $/atom:poly[18]/a130
$/improper:bytype112 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[18]/a150 $/atom:poly[18]/a149 $/atom:poly[18]/a151 $/atom:poly[18]/a152
$/improper:bytype113 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[18]/a224 $/atom:poly[18]/a223 $/atom:poly[18]/a225 $/atom:poly[18]/a226
$/improper:bytype114 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[18]/a245 $/atom:poly[18]/a244 $/atom:poly[18]/a246 $/atom:poly[18]/a247
$/improper:bytype115 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[19]/a33 $/atom:poly[19]/a32 $/atom:poly[19]/a34 $/atom:poly[19]/a35
$/improper:bytype116 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[19]/a55 $/atom:poly[19]/a54 $/atom:poly[19]/a56 $/atom:poly[19]/a57
$/improper:bytype117 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[19]/a128 $/atom:poly[19]/a127 $/atom:poly[19]/a129 $/atom:poly[19]/a130
$/improper:bytype118 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[19]/a150 $/atom:poly[19]/a149 $/atom:poly[19]/a151 $/atom:poly[19]/a152
$/improper:bytype119 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[19]/a224 $/atom:poly[19]/a223 $/atom:poly[19]/a225 $/atom:poly[19]/a226
$/improper:bytype120 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[19]/a245 $/atom:poly[19]/a244 $/atom:poly[19]/a246 $/atom:poly[19]/a247
$/improper:bytype121 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[0]/a34 $/atom:poly[0]/a33 $/atom:poly[0]/a323 $/atom:poly[0]/a324
$/improper:bytype122 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[0]/a56 $/atom:poly[0]/a55 $/atom:poly[0]/a350 $/atom:poly[0]/a351
$/improper:bytype123 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[0]/a129 $/atom:poly[0]/a128 $/atom:poly[0]/a446 $/atom:poly[0]/a447
$/improper:bytype124 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[0]/a151 $/atom:poly[0]/a150 $/atom:poly[0]/a470 $/atom:poly[0]/a471
$/improper:bytype125 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[0]/a225 $/atom:poly[0]/a224 $/atom:poly[0]/a569 $/atom:poly[0]/a570
$/improper:bytype126 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[0]/a246 $/atom:poly[0]/a245 $/atom:poly[0]/a593 $/atom:poly[0]/a594
$/improper:bytype127 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[1]/a34 $/atom:poly[1]/a33 $/atom:poly[1]/a323 $/atom:poly[1]/a324
$/improper:bytype128 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[1]/a56 $/atom:poly[1]/a55 $/atom:poly[1]/a350 $/atom:poly[1]/a351
$/improper:bytype129 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[1]/a129 $/atom:poly[1]/a128 $/atom:poly[1]/a446 $/atom:poly[1]/a447
$/improper:bytype130 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[1]/a151 $/atom:poly[1]/a150 $/atom:poly[1]/a470 $/atom:poly[1]/a471
$/improper:bytype131 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[1]/a225 $/atom:poly[1]/a224 $/atom:poly[1]/a569 $/atom:poly[1]/a570
$/improper:bytype132 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[1]/a246 $/atom:poly[1]/a245 $/atom:poly[1]/a593 $/atom:poly[1]/a594
$/improper:bytype133 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[2]/a34 $/atom:poly[2]/a33 $/atom:poly[2]/a323 $/atom:poly[2]/a324
$/improper:bytype134 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[2]/a56 $/atom:poly[2]/a55 $/atom:poly[2]/a350 $/atom:poly[2]/a351
$/improper:bytype135 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[2]/a129 $/atom:poly[2]/a128 $/atom:poly[2]/a446 $/atom:poly[2]/a447
$/improper:bytype136 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[2]/a151 $/atom:poly[2]/a150 $/atom:poly[2]/a470 $/atom:poly[2]/a471
$/improper:bytype137 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[2]/a225 $/atom:poly[2]/a224 $/atom:poly[2]/a569 $/atom:poly[2]/a570
$/improper:bytype138 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[2]/a246 $/atom:poly[2]/a245 $/atom:poly[2]/a593 $/atom:poly[2]/a594
$/improper:bytype139 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[3]/a34 $/atom:poly[3]/a33 $/atom:poly[3]/a323 $/atom:poly[3]/a324
$/improper:bytype140 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[3]/a56 $/atom:poly[3]/a55 $/atom:poly[3]/a350 $/atom:poly[3]/a351
$/improper:bytype141 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[3]/a129 $/atom:poly[3]/a128 $/atom:poly[3]/a446 $/atom:poly[3]/a447
$/improper:bytype142 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[3]/a151 $/atom:poly[3]/a150 $/atom:poly[3]/a470 $/atom:poly[3]/a471
$/improper:bytype143 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[3]/a225 $/atom:poly[3]/a224 $/atom:poly[3]/a569 $/atom:poly[3]/a570
$/improper:bytype144 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[3]/a246 $/atom:poly[3]/a245 $/atom:poly[3]/a593 $/atom:poly[3]/a594
$/improper:bytype145 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[4]/a34 $/atom:poly[4]/a33 $/atom:poly[4]/a323 $/atom:poly[4]/a324
$/improper:bytype146 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[4]/a56 $/atom:poly[4]/a55 $/atom:poly[4]/a350 $/atom:poly[4]/a351
$/improper:bytype147 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[4]/a129 $/atom:poly[4]/a128 $/atom:poly[4]/a446 $/atom:poly[4]/a447
$/improper:bytype148 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[4]/a151 $/atom:poly[4]/a150 $/atom:poly[4]/a470 $/atom:poly[4]/a471
$/improper:bytype149 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[4]/a225 $/atom:poly[4]/a224 $/atom:poly[4]/a569 $/atom:poly[4]/a570
$/improper:bytype150 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[4]/a246 $/atom:poly[4]/a245 $/atom:poly[4]/a593 $/atom:poly[4]/a594
$/improper:bytype151 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[5]/a34 $/atom:poly[5]/a33 $/atom:poly[5]/a323 $/atom:poly[5]/a324
$/improper:bytype152 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[5]/a56 $/atom:poly[5]/a55 $/atom:poly[5]/a350 $/atom:poly[5]/a351
$/improper:bytype153 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[5]/a129 $/atom:poly[5]/a128 $/atom:poly[5]/a446 $/atom:poly[5]/a447
$/improper:bytype154 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[5]/a151 $/atom:poly[5]/a150 $/atom:poly[5]/a470 $/atom:poly[5]/a471
$/improper:bytype155 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[5]/a225 $/atom:poly[5]/a224 $/atom:poly[5]/a569 $/atom:poly[5]/a570
$/improper:bytype156 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[5]/a246 $/atom:poly[5]/a245 $/atom:poly[5]/a593 $/atom:poly[5]/a594
$/improper:bytype157 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[6]/a34 $/atom:poly[6]/a33 $/atom:poly[6]/a323 $/atom:poly[6]/a324
$/improper:bytype158 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[6]/a56 $/atom:poly[6]/a55 $/atom:poly[6]/a350 $/atom:poly[6]/a351
$/improper:bytype159 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[6]/a129 $/atom:poly[6]/a128 $/atom:poly[6]/a446 $/atom:poly[6]/a447
$/improper:bytype160 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[6]/a151 $/atom:poly[6]/a150 $/atom:poly[6]/a470 $/atom:poly[6]/a471
$/improper:bytype161 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[6]/a225 $/atom:poly[6]/a224 $/atom:poly[6]/a569 $/atom:poly[6]/a570
$/improper:bytype162 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[6]/a246 $/atom:poly[6]/a245 $/atom:poly[6]/a593 $/atom:poly[6]/a594
$/improper:bytype163 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[7]/a34 $/atom:poly[7]/a33 $/atom:poly[7]/a323 $/atom:poly[7]/a324
$/improper:bytype164 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[7]/a56 $/atom:poly[7]/a55 $/atom:poly[7]/a350 $/atom:poly[7]/a351
$/improper:bytype165 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[7]/a129 $/atom:poly[7]/a128 $/atom:poly[7]/a446 $/atom:poly[7]/a447
$/improper:bytype166 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[7]/a151 $/atom:poly[7]/a150 $/atom:poly[7]/a470 $/atom:poly[7]/a471
$/improper:bytype167 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[7]/a225 $/atom:poly[7]/a224 $/atom:poly[7]/a569 $/atom:poly[7]/a570
$/improper:bytype168 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[7]/a246 $/atom:poly[7]/a245 $/atom:poly[7]/a593 $/atom:poly[7]/a594
$/improper:bytype169 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[8]/a34 $/atom:poly[8]/a33 $/atom:poly[8]/a323 $/atom:poly[8]/a324
$/improper:bytype170 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[8]/a56 $/atom:poly[8]/a55 $/atom:poly[8]/a350 $/atom:poly[8]/a351
$/improper:bytype171 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[8]/a129 $/atom:poly[8]/a128 $/atom:poly[8]/a446 $/atom:poly[8]/a447
$/improper:bytype172 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[8]/a151 $/atom:poly[8]/a150 $/atom:poly[8]/a470 $/atom:poly[8]/a471
$/improper:bytype173 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[8]/a225 $/atom:poly[8]/a224 $/atom:poly[8]/a569 $/atom:poly[8]/a570
$/improper:bytype174 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[8]/a246 $/atom:poly[8]/a245 $/atom:poly[8]/a593 $/atom:poly[8]/a594
$/improper:bytype175 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[9]/a34 $/atom:poly[9]/a33 $/atom:poly[9]/a323 $/atom:poly[9]/a324
$/improper:bytype176 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[9]/a56 $/atom:poly[9]/a55 $/atom:poly[9]/a350 $/atom:poly[9]/a351
$/improper:bytype177 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[9]/a129 $/atom:poly[9]/a128 $/atom:poly[9]/a446 $/atom:poly[9]/a447
$/improper:bytype178 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[9]/a151 $/atom:poly[9]/a150 $/atom:poly[9]/a470 $/atom:poly[9]/a471
$/improper:bytype179 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[9]/a225 $/atom:poly[9]/a224 $/atom:poly[9]/a569 $/atom:poly[9]/a570
$/improper:bytype180 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[9]/a246 $/atom:poly[9]/a245 $/atom:poly[9]/a593 $/atom:poly[9]/a594
$/improper:bytype181 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[10]/a34 $/atom:poly[10]/a33 $/atom:poly[10]/a323 $/atom:poly[10]/a324
$/improper:bytype182 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[10]/a56 $/atom:poly[10]/a55 $/atom:poly[10]/a350 $/atom:poly[10]/a351
$/improper:bytype183 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[10]/a129 $/atom:poly[10]/a128 $/atom:poly[10]/a446 $/atom:poly[10]/a447
$/improper:bytype184 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[10]/a151 $/atom:poly[10]/a150 $/atom:poly[10]/a470 $/atom:poly[10]/a471
$/improper:bytype185 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[10]/a225 $/atom:poly[10]/a224 $/atom:poly[10]/a569 $/atom:poly[10]/a570
$/improper:bytype186 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[10]/a246 $/atom:poly[10]/a245 $/atom:poly[10]/a593 $/atom:poly[10]/a594
$/improper:bytype187 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[11]/a34 $/atom:poly[11]/a33 $/atom:poly[11]/a323 $/atom:poly[11]/a324
$/improper:bytype188 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[11]/a56 $/atom:poly[11]/a55 $/atom:poly[11]/a350 $/atom:poly[11]/a351
$/improper:bytype189 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[11]/a129 $/atom:poly[11]/a128 $/atom:poly[11]/a446 $/atom:poly[11]/a447
$/improper:bytype190 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[11]/a151 $/atom:poly[11]/a150 $/atom:poly[11]/a470 $/atom:poly[11]/a471
$/improper:bytype191 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[11]/a225 $/atom:poly[11]/a224 $/atom:poly[11]/a569 $/atom:poly[11]/a570
$/improper:bytype192 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[11]/a246 $/atom:poly[11]/a245 $/atom:poly[11]/a593 $/atom:poly[11]/a594
$/improper:bytype193 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[12]/a34 $/atom:poly[12]/a33 $/atom:poly[12]/a323 $/atom:poly[12]/a324
$/improper:bytype194 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[12]/a56 $/atom:poly[12]/a55 $/atom:poly[12]/a350 $/atom:poly[12]/a351
$/improper:bytype195 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[12]/a129 $/atom:poly[12]/a128 $/atom:poly[12]/a446 $/atom:poly[12]/a447
$/improper:bytype196 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[12]/a151 $/atom:poly[12]/a150 $/atom:poly[12]/a470 $/atom:poly[12]/a471
$/improper:bytype197 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[12]/a225 $/atom:poly[12]/a224 $/atom:poly[12]/a569 $/atom:poly[12]/a570
$/improper:bytype198 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[12]/a246 $/atom:poly[12]/a245 $/atom:poly[12]/a593 $/atom:poly[12]/a594
$/improper:bytype199 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[13]/a34 $/atom:poly[13]/a33 $/atom:poly[13]/a323 $/atom:poly[13]/a324
$/improper:bytype200 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[13]/a56 $/atom:poly[13]/a55 $/atom:poly[13]/a350 $/atom:poly[13]/a351
$/improper:bytype201 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[13]/a129 $/atom:poly[13]/a128 $/atom:poly[13]/a446 $/atom:poly[13]/a447
$/improper:bytype202 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[13]/a151 $/atom:poly[13]/a150 $/atom:poly[13]/a470 $/atom:poly[13]/a471
$/improper:bytype203 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[13]/a225 $/atom:poly[13]/a224 $/atom:poly[13]/a569 $/atom:poly[13]/a570
$/improper:bytype204 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[13]/a246 $/atom:poly[13]/a245 $/atom:poly[13]/a593 $/atom:poly[13]/a594
$/improper:bytype205 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[14]/a34 $/atom:poly[14]/a33 $/atom:poly[14]/a323 $/atom:poly[14]/a324
$/improper:bytype206 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[14]/a56 $/atom:poly[14]/a55 $/atom:poly[14]/a350 $/atom:poly[14]/a351
$/improper:bytype207 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[14]/a129 $/atom:poly[14]/a128 $/atom:poly[14]/a446 $/atom:poly[14]/a447
$/improper:bytype208 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[14]/a151 $/atom:poly[14]/a150 $/atom:poly[14]/a470 $/atom:poly[14]/a471
$/improper:bytype209 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[14]/a225 $/atom:poly[14]/a224 $/atom:poly[14]/a569 $/atom:poly[14]/a570
$/improper:bytype210 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[14]/a246 $/atom:poly[14]/a245 $/atom:poly[14]/a593 $/atom:poly[14]/a594
$/improper:bytype211 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[15]/a34 $/atom:poly[15]/a33 $/atom:poly[15]/a323 $/atom:poly[15]/a324
$/improper:bytype212 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[15]/a56 $/atom:poly[15]/a55 $/atom:poly[15]/a350 $/atom:poly[15]/a351
$/improper:bytype213 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[15]/a129 $/atom:poly[15]/a128 $/atom:poly[15]/a446 $/atom:poly[15]/a447
$/improper:bytype214 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[15]/a151 $/atom:poly[15]/a150 $/atom:poly[15]/a470 $/atom:poly[15]/a471
$/improper:bytype215 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[15]/a225 $/atom:poly[15]/a224 $/atom:poly[15]/a569 $/atom:poly[15]/a570
$/improper:bytype216 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[15]/a246 $/atom:poly[15]/a245 $/atom:poly[15]/a593 $/atom:poly[15]/a594
$/improper:bytype217 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[16]/a34 $/atom:poly[16]/a33 $/atom:poly[16]/a323 $/atom:poly[16]/a324
$/improper:bytype218 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[16]/a56 $/atom:poly[16]/a55 $/atom:poly[16]/a350 $/atom:poly[16]/a351
$/improper:bytype219 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[16]/a129 $/atom:poly[16]/a128 $/atom:poly[16]/a446 $/atom:poly[16]/a447
$/improper:bytype220 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[16]/a151 $/atom:poly[16]/a150 $/atom:poly[16]/a470 $/atom:poly[16]/a471
$/improper:bytype221 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[16]/a225 $/atom:poly[16]/a224 $/atom:poly[16]/a569 $/atom:poly[16]/a570
$/improper:bytype222 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[16]/a246 $/atom:poly[16]/a245 $/atom:poly[16]/a593 $/atom:poly[16]/a594
$/improper:bytype223 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[17]/a34 $/atom:poly[17]/a33 $/atom:poly[17]/a323 $/atom:poly[17]/a324
$/improper:bytype224 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[17]/a56 $/atom:poly[17]/a55 $/atom:poly[17]/a350 $/atom:poly[17]/a351
$/improper:bytype225 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[17]/a129 $/atom:poly[17]/a128 $/atom:poly[17]/a446 $/atom:poly[17]/a447
$/improper:bytype226 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[17]/a151 $/atom:poly[17]/a150 $/atom:poly[17]/a470 $/atom:poly[17]/a471
$/improper:bytype227 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[17]/a225 $/atom:poly[17]/a224 $/atom:poly[17]/a569 $/atom:poly[17]/a570
$/improper:bytype228 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[17]/a246 $/atom:poly[17]/a245 $/atom:poly[17]/a593 $/atom:poly[17]/a594
$/improper:bytype229 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[18]/a34 $/atom:poly[18]/a33 $/atom:poly[18]/a323 $/atom:poly[18]/a324
$/improper:bytype230 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[18]/a56 $/atom:poly[18]/a55 $/atom:poly[18]/a350 $/atom:poly[18]/a351
$/improper:bytype231 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[18]/a129 $/atom:poly[18]/a128 $/atom:poly[18]/a446 $/atom:poly[18]/a447
$/improper:bytype232 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[18]/a151 $/atom:poly[18]/a150 $/atom:poly[18]/a470 $/atom:poly[18]/a471
$/improper:bytype233 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[18]/a225 $/atom:poly[18]/a224 $/atom:poly[18]/a569 $/atom:poly[18]/a570
$/improper:bytype234 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[18]/a246 $/atom:poly[18]/a245 $/atom:poly[18]/a593 $/atom:poly[18]/a594
$/improper:bytype235 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[19]/a34 $/atom:poly[19]/a33 $/atom:poly[19]/a323 $/atom:poly[19]/a324
$/improper:bytype236 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[19]/a56 $/atom:poly[19]/a55 $/atom:poly[19]/a350 $/atom:poly[19]/a351
$/improper:bytype237 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[19]/a129 $/atom:poly[19]/a128 $/atom:poly[19]/a446 $/atom:poly[19]/a447
$/improper:bytype238 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[19]/a151 $/atom:poly[19]/a150 $/atom:poly[19]/a470 $/atom:poly[19]/a471
$/improper:bytype239 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[19]/a225 $/atom:poly[19]/a224 $/atom:poly[19]/a569 $/atom:poly[19]/a570
$/improper:bytype240 @/improper:OPLSAA/CM_€€_€€_€€ $/atom:poly[19]/a246 $/atom:poly[19]/a245 $/atom:poly[19]/a593 $/atom:poly[19]/a594
$/improper:bytype241 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a3 $/atom:poly[0]/a1 $/atom:poly[0]/a2 $/atom:poly[0]/a4
$/improper:bytype242 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a97 $/atom:poly[0]/a95 $/atom:poly[0]/a96 $/atom:poly[0]/a98
$/improper:bytype243 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a192 $/atom:poly[0]/a190 $/atom:poly[0]/a191 $/atom:poly[0]/a193
$/improper:bytype244 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a3 $/atom:poly[1]/a1 $/atom:poly[1]/a2 $/atom:poly[1]/a4
$/improper:bytype245 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a97 $/atom:poly[1]/a95 $/atom:poly[1]/a96 $/atom:poly[1]/a98
$/improper:bytype246 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a192 $/atom:poly[1]/a190 $/atom:poly[1]/a191 $/atom:poly[1]/a193
$/improper:bytype247 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a3 $/atom:poly[2]/a1 $/atom:poly[2]/a2 $/atom:poly[2]/a4
$/improper:bytype248 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a97 $/atom:poly[2]/a95 $/atom:poly[2]/a96 $/atom:poly[2]/a98
$/improper:bytype249 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a192 $/atom:poly[2]/a190 $/atom:poly[2]/a191 $/atom:poly[2]/a193
$/improper:bytype250 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a3 $/atom:poly[3]/a1 $/atom:poly[3]/a2 $/atom:poly[3]/a4
$/improper:bytype251 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a97 $/atom:poly[3]/a95 $/atom:poly[3]/a96 $/atom:poly[3]/a98
$/improper:bytype252 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a192 $/atom:poly[3]/a190 $/atom:poly[3]/a191 $/atom:poly[3]/a193
$/improper:bytype253 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a3 $/atom:poly[4]/a1 $/atom:poly[4]/a2 $/atom:poly[4]/a4
$/improper:bytype254 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a97 $/atom:poly[4]/a95 $/atom:poly[4]/a96 $/atom:poly[4]/a98
$/improper:bytype255 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a192 $/atom:poly[4]/a190 $/atom:poly[4]/a191 $/atom:poly[4]/a193
$/improper:bytype256 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a3 $/atom:poly[5]/a1 $/atom:poly[5]/a2 $/atom:poly[5]/a4
$/improper:bytype257 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a97 $/atom:poly[5]/a95 $/atom:poly[5]/a96 $/atom:poly[5]/a98
$/improper:bytype258 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a192 $/atom:poly[5]/a190 $/atom:poly[5]/a191 $/atom:poly[5]/a193
$/improper:bytype259 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a3 $/atom:poly[6]/a1 $/atom:poly[6]/a2 $/atom:poly[6]/a4
$/improper:bytype260 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a97 $/atom:poly[6]/a95 $/atom:poly[6]/a96 $/atom:poly[6]/a98
$/improper:bytype261 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a192 $/atom:poly[6]/a190 $/atom:poly[6]/a191 $/atom:poly[6]/a193
$/improper:bytype262 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a3 $/atom:poly[7]/a1 $/atom:poly[7]/a2 $/atom:poly[7]/a4
$/improper:bytype263 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a97 $/atom:poly[7]/a95 $/atom:poly[7]/a96 $/atom:poly[7]/a98
$/improper:bytype264 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a192 $/atom:poly[7]/a190 $/atom:poly[7]/a191 $/atom:poly[7]/a193
$/improper:bytype265 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a3 $/atom:poly[8]/a1 $/atom:poly[8]/a2 $/atom:poly[8]/a4
$/improper:bytype266 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a97 $/atom:poly[8]/a95 $/atom:poly[8]/a96 $/atom:poly[8]/a98
$/improper:bytype267 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a192 $/atom:poly[8]/a190 $/atom:poly[8]/a191 $/atom:poly[8]/a193
$/improper:bytype268 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a3 $/atom:poly[9]/a1 $/atom:poly[9]/a2 $/atom:poly[9]/a4
$/improper:bytype269 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a97 $/atom:poly[9]/a95 $/atom:poly[9]/a96 $/atom:poly[9]/a98
$/improper:bytype270 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a192 $/atom:poly[9]/a190 $/atom:poly[9]/a191 $/atom:poly[9]/a193
$/improper:bytype271 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a3 $/atom:poly[10]/a1 $/atom:poly[10]/a2 $/atom:poly[10]/a4
$/improper:bytype272 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a97 $/atom:poly[10]/a95 $/atom:poly[10]/a96 $/atom:poly[10]/a98
$/improper:bytype273 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a192 $/atom:poly[10]/a190 $/atom:poly[10]/a191 $/atom:poly[10]/a193
$/improper:bytype274 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a3 $/atom:poly[11]/a1 $/atom:poly[11]/a2 $/atom:poly[11]/a4
$/improper:bytype275 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a97 $/atom:poly[11]/a95 $/atom:poly[11]/a96 $/atom:poly[11]/a98
$/improper:bytype276 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a192 $/atom:poly[11]/a190 $/atom:poly[11]/a191 $/atom:poly[11]/a193
$/improper:bytype277 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a3 $/atom:poly[12]/a1 $/atom:poly[12]/a2 $/atom:poly[12]/a4
$/improper:bytype278 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a97 $/atom:poly[12]/a95 $/atom:poly[12]/a96 $/atom:poly[12]/a98
$/improper:bytype279 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a192 $/atom:poly[12]/a190 $/atom:poly[12]/a191 $/atom:poly[12]/a193
$/improper:bytype280 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a3 $/atom:poly[13]/a1 $/atom:poly[13]/a2 $/atom:poly[13]/a4
$/improper:bytype281 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a97 $/atom:poly[13]/a95 $/atom:poly[13]/a96 $/atom:poly[13]/a98
$/improper:bytype282 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a192 $/atom:poly[13]/a190 $/atom:poly[13]/a191 $/atom:poly[13]/a193
$/improper:bytype283 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a3 $/atom:poly[14]/a1 $/atom:poly[14]/a2 $/atom:poly[14]/a4
$/improper:bytype284 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a97 $/atom:poly[14]/a95 $/atom:poly[14]/a96 $/atom:poly[14]/a98
$/improper:bytype285 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a192 $/atom:poly[14]/a190 $/atom:poly[14]/a191 $/atom:poly[14]/a193
$/improper:bytype286 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a3 $/atom:poly[15]/a1 $/atom:poly[15]/a2 $/atom:poly[15]/a4
$/improper:bytype287 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a97 $/atom:poly[15]/a95 $/atom:poly[15]/a96 $/atom:poly[15]/a98
$/improper:bytype288 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a192 $/atom:poly[15]/a190 $/atom:poly[15]/a191 $/atom:poly[15]/a193
$/improper:bytype289 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a3 $/atom:poly[16]/a1 $/atom:poly[16]/a2 $/atom:poly[16]/a4
$/improper:bytype290 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a97 $/atom:poly[16]/a95 $/atom:poly[16]/a96 $/atom:poly[16]/a98
$/improper:bytype291 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a192 $/atom:poly[16]/a190 $/atom:poly[16]/a191 $/atom:poly[16]/a193
$/improper:bytype292 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a3 $/atom:poly[17]/a1 $/atom:poly[17]/a2 $/atom:poly[17]/a4
$/improper:bytype293 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a97 $/atom:poly[17]/a95 $/atom:poly[17]/a96 $/atom:poly[17]/a98
$/improper:bytype294 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a192 $/atom:poly[17]/a190 $/atom:poly[17]/a191 $/atom:poly[17]/a193
$/improper:bytype295 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a3 $/atom:poly[18]/a1 $/atom:poly[18]/a2 $/atom:poly[18]/a4
$/improper:bytype296 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a97 $/atom:poly[18]/a95 $/atom:poly[18]/a96 $/atom:poly[18]/a98
$/improper:bytype297 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a192 $/atom:poly[18]/a190 $/atom:poly[18]/a191 $/atom:poly[18]/a193
$/improper:bytype298 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a3 $/atom:poly[19]/a1 $/atom:poly[19]/a2 $/atom:poly[19]/a4
$/improper:bytype299 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a97 $/atom:poly[19]/a95 $/atom:poly[19]/a96 $/atom:poly[19]/a98
$/improper:bytype300 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a192 $/atom:poly[19]/a190 $/atom:poly[19]/a191 $/atom:poly[19]/a193
$/improper:bytype301 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a11 $/atom:poly[0]/a12 $/atom:poly[0]/a15 $/atom:poly[0]/a16
$/improper:bytype302 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a105 $/atom:poly[0]/a106 $/atom:poly[0]/a109 $/atom:poly[0]/a110
$/improper:bytype303 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a200 $/atom:poly[0]/a201 $/atom:poly[0]/a204 $/atom:poly[0]/a205
$/improper:bytype304 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a11 $/atom:poly[1]/a12 $/atom:poly[1]/a15 $/atom:poly[1]/a16
$/improper:bytype305 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a105 $/atom:poly[1]/a106 $/atom:poly[1]/a109 $/atom:poly[1]/a110
$/improper:bytype306 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a200 $/atom:poly[1]/a201 $/atom:poly[1]/a204 $/atom:poly[1]/a205
$/improper:bytype307 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a11 $/atom:poly[2]/a12 $/atom:poly[2]/a15 $/atom:poly[2]/a16
$/improper:bytype308 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a105 $/atom:poly[2]/a106 $/atom:poly[2]/a109 $/atom:poly[2]/a110
$/improper:bytype309 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a200 $/atom:poly[2]/a201 $/atom:poly[2]/a204 $/atom:poly[2]/a205
$/improper:bytype310 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a11 $/atom:poly[3]/a12 $/atom:poly[3]/a15 $/atom:poly[3]/a16
$/improper:bytype311 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a105 $/atom:poly[3]/a106 $/atom:poly[3]/a109 $/atom:poly[3]/a110
$/improper:bytype312 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a200 $/atom:poly[3]/a201 $/atom:poly[3]/a204 $/atom:poly[3]/a205
$/improper:bytype313 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a11 $/atom:poly[4]/a12 $/atom:poly[4]/a15 $/atom:poly[4]/a16
$/improper:bytype314 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a105 $/atom:poly[4]/a106 $/atom:poly[4]/a109 $/atom:poly[4]/a110
$/improper:bytype315 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a200 $/atom:poly[4]/a201 $/atom:poly[4]/a204 $/atom:poly[4]/a205
$/improper:bytype316 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a11 $/atom:poly[5]/a12 $/atom:poly[5]/a15 $/atom:poly[5]/a16
$/improper:bytype317 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a105 $/atom:poly[5]/a106 $/atom:poly[5]/a109 $/atom:poly[5]/a110
$/improper:bytype318 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a200 $/atom:poly[5]/a201 $/atom:poly[5]/a204 $/atom:poly[5]/a205
$/improper:bytype319 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a11 $/atom:poly[6]/a12 $/atom:poly[6]/a15 $/atom:poly[6]/a16
$/improper:bytype320 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a105 $/atom:poly[6]/a106 $/atom:poly[6]/a109 $/atom:poly[6]/a110
$/improper:bytype321 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a200 $/atom:poly[6]/a201 $/atom:poly[6]/a204 $/atom:poly[6]/a205
$/improper:bytype322 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a11 $/atom:poly[7]/a12 $/atom:poly[7]/a15 $/atom:poly[7]/a16
$/improper:bytype323 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a105 $/atom:poly[7]/a106 $/atom:poly[7]/a109 $/atom:poly[7]/a110
$/improper:bytype324 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a200 $/atom:poly[7]/a201 $/atom:poly[7]/a204 $/atom:poly[7]/a205
$/improper:bytype325 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a11 $/atom:poly[8]/a12 $/atom:poly[8]/a15 $/atom:poly[8]/a16
$/improper:bytype326 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a105 $/atom:poly[8]/a106 $/atom:poly[8]/a109 $/atom:poly[8]/a110
$/improper:bytype327 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a200 $/atom:poly[8]/a201 $/atom:poly[8]/a204 $/atom:poly[8]/a205
$/improper:bytype328 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a11 $/atom:poly[9]/a12 $/atom:poly[9]/a15 $/atom:poly[9]/a16
$/improper:bytype329 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a105 $/atom:poly[9]/a106 $/atom:poly[9]/a109 $/atom:poly[9]/a110
$/improper:bytype330 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a200 $/atom:poly[9]/a201 $/atom:poly[9]/a204 $/atom:poly[9]/a205
$/improper:bytype331 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a11 $/atom:poly[10]/a12 $/atom:poly[10]/a15 $/atom:poly[10]/a16
$/improper:bytype332 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a105 $/atom:poly[10]/a106 $/atom:poly[10]/a109 $/atom:poly[10]/a110
$/improper:bytype333 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a200 $/atom:poly[10]/a201 $/atom:poly[10]/a204 $/atom:poly[10]/a205
$/improper:bytype334 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a11 $/atom:poly[11]/a12 $/atom:poly[11]/a15 $/atom:poly[11]/a16
$/improper:bytype335 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a105 $/atom:poly[11]/a106 $/atom:poly[11]/a109 $/atom:poly[11]/a110
$/improper:bytype336 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a200 $/atom:poly[11]/a201 $/atom:poly[11]/a204 $/atom:poly[11]/a205
$/improper:bytype337 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a11 $/atom:poly[12]/a12 $/atom:poly[12]/a15 $/atom:poly[12]/a16
$/improper:bytype338 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a105 $/atom:poly[12]/a106 $/atom:poly[12]/a109 $/atom:poly[12]/a110
$/improper:bytype339 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a200 $/atom:poly[12]/a201 $/atom:poly[12]/a204 $/atom:poly[12]/a205
$/improper:bytype340 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a11 $/atom:poly[13]/a12 $/atom:poly[13]/a15 $/atom:poly[13]/a16
$/improper:bytype341 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a105 $/atom:poly[13]/a106 $/atom:poly[13]/a109 $/atom:poly[13]/a110
$/improper:bytype342 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a200 $/atom:poly[13]/a201 $/atom:poly[13]/a204 $/atom:poly[13]/a205
$/improper:bytype343 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a11 $/atom:poly[14]/a12 $/atom:poly[14]/a15 $/atom:poly[14]/a16
$/improper:bytype344 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a105 $/atom:poly[14]/a106 $/atom:poly[14]/a109 $/atom:poly[14]/a110
$/improper:bytype345 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a200 $/atom:poly[14]/a201 $/atom:poly[14]/a204 $/atom:poly[14]/a205
$/improper:bytype346 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a11 $/atom:poly[15]/a12 $/atom:poly[15]/a15 $/atom:poly[15]/a16
$/improper:bytype347 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a105 $/atom:poly[15]/a106 $/atom:poly[15]/a109 $/atom:poly[15]/a110
$/improper:bytype348 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a200 $/atom:poly[15]/a201 $/atom:poly[15]/a204 $/atom:poly[15]/a205
$/improper:bytype349 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a11 $/atom:poly[16]/a12 $/atom:poly[16]/a15 $/atom:poly[16]/a16
$/improper:bytype350 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a105 $/atom:poly[16]/a106 $/atom:poly[16]/a109 $/atom:poly[16]/a110
$/improper:bytype351 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a200 $/atom:poly[16]/a201 $/atom:poly[16]/a204 $/atom:poly[16]/a205
$/improper:bytype352 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a11 $/atom:poly[17]/a12 $/atom:poly[17]/a15 $/atom:poly[17]/a16
$/improper:bytype353 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a105 $/atom:poly[17]/a106 $/atom:poly[17]/a109 $/atom:poly[17]/a110
$/improper:bytype354 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a200 $/atom:poly[17]/a201 $/atom:poly[17]/a204 $/atom:poly[17]/a205
$/improper:bytype355 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a11 $/atom:poly[18]/a12 $/atom:poly[18]/a15 $/atom:poly[18]/a16
$/improper:bytype356 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a105 $/atom:poly[18]/a106 $/atom:poly[18]/a109 $/atom:poly[18]/a110
$/improper:bytype357 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a200 $/atom:poly[18]/a201 $/atom:poly[18]/a204 $/atom:poly[18]/a205
$/improper:bytype358 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a11 $/atom:poly[19]/a12 $/atom:poly[19]/a15 $/atom:poly[19]/a16
$/improper:bytype359 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a105 $/atom:poly[19]/a106 $/atom:poly[19]/a109 $/atom:poly[19]/a110
$/improper:bytype360 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a200 $/atom:poly[19]/a201 $/atom:poly[19]/a204 $/atom:poly[19]/a205
$/improper:bytype361 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a28 $/atom:poly[0]/a27 $/atom:poly[0]/a29 $/atom:poly[0]/a30
$/improper:bytype362 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a49 $/atom:poly[0]/a48 $/atom:poly[0]/a50 $/atom:poly[0]/a51
$/improper:bytype363 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a72 $/atom:poly[0]/a71 $/atom:poly[0]/a73 $/atom:poly[0]/a74
$/improper:bytype364 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a122 $/atom:poly[0]/a121 $/atom:poly[0]/a123 $/atom:poly[0]/a124
$/improper:bytype365 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a144 $/atom:poly[0]/a143 $/atom:poly[0]/a145 $/atom:poly[0]/a146
$/improper:bytype366 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a167 $/atom:poly[0]/a166 $/atom:poly[0]/a168 $/atom:poly[0]/a169
$/improper:bytype367 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a217 $/atom:poly[0]/a216 $/atom:poly[0]/a218 $/atom:poly[0]/a219
$/improper:bytype368 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a240 $/atom:poly[0]/a239 $/atom:poly[0]/a241 $/atom:poly[0]/a242
$/improper:bytype369 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a262 $/atom:poly[0]/a261 $/atom:poly[0]/a263 $/atom:poly[0]/a264
$/improper:bytype370 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a28 $/atom:poly[1]/a27 $/atom:poly[1]/a29 $/atom:poly[1]/a30
$/improper:bytype371 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a49 $/atom:poly[1]/a48 $/atom:poly[1]/a50 $/atom:poly[1]/a51
$/improper:bytype372 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a72 $/atom:poly[1]/a71 $/atom:poly[1]/a73 $/atom:poly[1]/a74
$/improper:bytype373 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a122 $/atom:poly[1]/a121 $/atom:poly[1]/a123 $/atom:poly[1]/a124
$/improper:bytype374 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a144 $/atom:poly[1]/a143 $/atom:poly[1]/a145 $/atom:poly[1]/a146
$/improper:bytype375 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a167 $/atom:poly[1]/a166 $/atom:poly[1]/a168 $/atom:poly[1]/a169
$/improper:bytype376 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a217 $/atom:poly[1]/a216 $/atom:poly[1]/a218 $/atom:poly[1]/a219
$/improper:bytype377 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a240 $/atom:poly[1]/a239 $/atom:poly[1]/a241 $/atom:poly[1]/a242
$/improper:bytype378 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a262 $/atom:poly[1]/a261 $/atom:poly[1]/a263 $/atom:poly[1]/a264
$/improper:bytype379 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a28 $/atom:poly[2]/a27 $/atom:poly[2]/a29 $/atom:poly[2]/a30
$/improper:bytype380 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a49 $/atom:poly[2]/a48 $/atom:poly[2]/a50 $/atom:poly[2]/a51
$/improper:bytype381 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a72 $/atom:poly[2]/a71 $/atom:poly[2]/a73 $/atom:poly[2]/a74
$/improper:bytype382 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a122 $/atom:poly[2]/a121 $/atom:poly[2]/a123 $/atom:poly[2]/a124
$/improper:bytype383 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a144 $/atom:poly[2]/a143 $/atom:poly[2]/a145 $/atom:poly[2]/a146
$/improper:bytype384 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a167 $/atom:poly[2]/a166 $/atom:poly[2]/a168 $/atom:poly[2]/a169
$/improper:bytype385 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a217 $/atom:poly[2]/a216 $/atom:poly[2]/a218 $/atom:poly[2]/a219
$/improper:bytype386 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a240 $/atom:poly[2]/a239 $/atom:poly[2]/a241 $/atom:poly[2]/a242
$/improper:bytype387 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a262 $/atom:poly[2]/a261 $/atom:poly[2]/a263 $/atom:poly[2]/a264
$/improper:bytype388 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a28 $/atom:poly[3]/a27 $/atom:poly[3]/a29 $/atom:poly[3]/a30
$/improper:bytype389 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a49 $/atom:poly[3]/a48 $/atom:poly[3]/a50 $/atom:poly[3]/a51
$/improper:bytype390 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a72 $/atom:poly[3]/a71 $/atom:poly[3]/a73 $/atom:poly[3]/a74
$/improper:bytype391 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a122 $/atom:poly[3]/a121 $/atom:poly[3]/a123 $/atom:poly[3]/a124
$/improper:bytype392 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a144 $/atom:poly[3]/a143 $/atom:poly[3]/a145 $/atom:poly[3]/a146
$/improper:bytype393 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a167 $/atom:poly[3]/a166 $/atom:poly[3]/a168 $/atom:poly[3]/a169
$/improper:bytype394 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a217 $/atom:poly[3]/a216 $/atom:poly[3]/a218 $/atom:poly[3]/a219
$/improper:bytype395 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a240 $/atom:poly[3]/a239 $/atom:poly[3]/a241 $/atom:poly[3]/a242
$/improper:bytype396 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a262 $/atom:poly[3]/a261 $/atom:poly[3]/a263 $/atom:poly[3]/a264
$/improper:bytype397 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a28 $/atom:poly[4]/a27 $/atom:poly[4]/a29 $/atom:poly[4]/a30
$/improper:bytype398 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a49 $/atom:poly[4]/a48 $/atom:poly[4]/a50 $/atom:poly[4]/a51
$/improper:bytype399 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a72 $/atom:poly[4]/a71 $/atom:poly[4]/a73 $/atom:poly[4]/a74
$/improper:bytype400 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a122 $/atom:poly[4]/a121 $/atom:poly[4]/a123 $/atom:poly[4]/a124
$/improper:bytype401 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a144 $/atom:poly[4]/a143 $/atom:poly[4]/a145 $/atom:poly[4]/a146
$/improper:bytype402 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a167 $/atom:poly[4]/a166 $/atom:poly[4]/a168 $/atom:poly[4]/a169
$/improper:bytype403 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a217 $/atom:poly[4]/a216 $/atom:poly[4]/a218 $/atom:poly[4]/a219
$/improper:bytype404 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a240 $/atom:poly[4]/a239 $/atom:poly[4]/a241 $/atom:poly[4]/a242
$/improper:bytype405 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a262 $/atom:poly[4]/a261 $/atom:poly[4]/a263 $/atom:poly[4]/a264
$/improper:bytype406 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a28 $/atom:poly[5]/a27 $/atom:poly[5]/a29 $/atom:poly[5]/a30
$/improper:bytype407 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a49 $/atom:poly[5]/a48 $/atom:poly[5]/a50 $/atom:poly[5]/a51
$/improper:bytype408 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a72 $/atom:poly[5]/a71 $/atom:poly[5]/a73 $/atom:poly[5]/a74
$/improper:bytype409 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a122 $/atom:poly[5]/a121 $/atom:poly[5]/a123 $/atom:poly[5]/a124
$/improper:bytype410 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a144 $/atom:poly[5]/a143 $/atom:poly[5]/a145 $/atom:poly[5]/a146
$/improper:bytype411 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a167 $/atom:poly[5]/a166 $/atom:poly[5]/a168 $/atom:poly[5]/a169
$/improper:bytype412 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a217 $/atom:poly[5]/a216 $/atom:poly[5]/a218 $/atom:poly[5]/a219
$/improper:bytype413 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a240 $/atom:poly[5]/a239 $/atom:poly[5]/a241 $/atom:poly[5]/a242
$/improper:bytype414 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a262 $/atom:poly[5]/a261 $/atom:poly[5]/a263 $/atom:poly[5]/a264
$/improper:bytype415 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a28 $/atom:poly[6]/a27 $/atom:poly[6]/a29 $/atom:poly[6]/a30
$/improper:bytype416 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a49 $/atom:poly[6]/a48 $/atom:poly[6]/a50 $/atom:poly[6]/a51
$/improper:bytype417 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a72 $/atom:poly[6]/a71 $/atom:poly[6]/a73 $/atom:poly[6]/a74
$/improper:bytype418 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a122 $/atom:poly[6]/a121 $/atom:poly[6]/a123 $/atom:poly[6]/a124
$/improper:bytype419 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a144 $/atom:poly[6]/a143 $/atom:poly[6]/a145 $/atom:poly[6]/a146
$/improper:bytype420 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a167 $/atom:poly[6]/a166 $/atom:poly[6]/a168 $/atom:poly[6]/a169
$/improper:bytype421 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a217 $/atom:poly[6]/a216 $/atom:poly[6]/a218 $/atom:poly[6]/a219
$/improper:bytype422 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a240 $/atom:poly[6]/a239 $/atom:poly[6]/a241 $/atom:poly[6]/a242
$/improper:bytype423 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a262 $/atom:poly[6]/a261 $/atom:poly[6]/a263 $/atom:poly[6]/a264
$/improper:bytype424 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a28 $/atom:poly[7]/a27 $/atom:poly[7]/a29 $/atom:poly[7]/a30
$/improper:bytype425 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a49 $/atom:poly[7]/a48 $/atom:poly[7]/a50 $/atom:poly[7]/a51
$/improper:bytype426 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a72 $/atom:poly[7]/a71 $/atom:poly[7]/a73 $/atom:poly[7]/a74
$/improper:bytype427 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a122 $/atom:poly[7]/a121 $/atom:poly[7]/a123 $/atom:poly[7]/a124
$/improper:bytype428 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a144 $/atom:poly[7]/a143 $/atom:poly[7]/a145 $/atom:poly[7]/a146
$/improper:bytype429 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a167 $/atom:poly[7]/a166 $/atom:poly[7]/a168 $/atom:poly[7]/a169
$/improper:bytype430 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a217 $/atom:poly[7]/a216 $/atom:poly[7]/a218 $/atom:poly[7]/a219
$/improper:bytype431 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a240 $/atom:poly[7]/a239 $/atom:poly[7]/a241 $/atom:poly[7]/a242
$/improper:bytype432 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a262 $/atom:poly[7]/a261 $/atom:poly[7]/a263 $/atom:poly[7]/a264
$/improper:bytype433 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a28 $/atom:poly[8]/a27 $/atom:poly[8]/a29 $/atom:poly[8]/a30
$/improper:bytype434 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a49 $/atom:poly[8]/a48 $/atom:poly[8]/a50 $/atom:poly[8]/a51
$/improper:bytype435 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a72 $/atom:poly[8]/a71 $/atom:poly[8]/a73 $/atom:poly[8]/a74
$/improper:bytype436 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a122 $/atom:poly[8]/a121 $/atom:poly[8]/a123 $/atom:poly[8]/a124
$/improper:bytype437 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a144 $/atom:poly[8]/a143 $/atom:poly[8]/a145 $/atom:poly[8]/a146
$/improper:bytype438 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a167 $/atom:poly[8]/a166 $/atom:poly[8]/a168 $/atom:poly[8]/a169
$/improper:bytype439 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a217 $/atom:poly[8]/a216 $/atom:poly[8]/a218 $/atom:poly[8]/a219
$/improper:bytype440 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a240 $/atom:poly[8]/a239 $/atom:poly[8]/a241 $/atom:poly[8]/a242
$/improper:bytype441 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a262 $/atom:poly[8]/a261 $/atom:poly[8]/a263 $/atom:poly[8]/a264
$/improper:bytype442 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a28 $/atom:poly[9]/a27 $/atom:poly[9]/a29 $/atom:poly[9]/a30
$/improper:bytype443 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a49 $/atom:poly[9]/a48 $/atom:poly[9]/a50 $/atom:poly[9]/a51
$/improper:bytype444 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a72 $/atom:poly[9]/a71 $/atom:poly[9]/a73 $/atom:poly[9]/a74
$/improper:bytype445 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a122 $/atom:poly[9]/a121 $/atom:poly[9]/a123 $/atom:poly[9]/a124
$/improper:bytype446 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a144 $/atom:poly[9]/a143 $/atom:poly[9]/a145 $/atom:poly[9]/a146
$/improper:bytype447 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a167 $/atom:poly[9]/a166 $/atom:poly[9]/a168 $/atom:poly[9]/a169
$/improper:bytype448 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a217 $/atom:poly[9]/a216 $/atom:poly[9]/a218 $/atom:poly[9]/a219
$/improper:bytype449 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a240 $/atom:poly[9]/a239 $/atom:poly[9]/a241 $/atom:poly[9]/a242
$/improper:bytype450 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a262 $/atom:poly[9]/a261 $/atom:poly[9]/a263 $/atom:poly[9]/a264
$/improper:bytype451 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a28 $/atom:poly[10]/a27 $/atom:poly[10]/a29 $/atom:poly[10]/a30
$/improper:bytype452 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a49 $/atom:poly[10]/a48 $/atom:poly[10]/a50 $/atom:poly[10]/a51
$/improper:bytype453 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a72 $/atom:poly[10]/a71 $/atom:poly[10]/a73 $/atom:poly[10]/a74
$/improper:bytype454 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a122 $/atom:poly[10]/a121 $/atom:poly[10]/a123 $/atom:poly[10]/a124
$/improper:bytype455 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a144 $/atom:poly[10]/a143 $/atom:poly[10]/a145 $/atom:poly[10]/a146
$/improper:bytype456 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a167 $/atom:poly[10]/a166 $/atom:poly[10]/a168 $/atom:poly[10]/a169
$/improper:bytype457 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a217 $/atom:poly[10]/a216 $/atom:poly[10]/a218 $/atom:poly[10]/a219
$/improper:bytype458 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a240 $/atom:poly[10]/a239 $/atom:poly[10]/a241 $/atom:poly[10]/a242
$/improper:bytype459 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a262 $/atom:poly[10]/a261 $/atom:poly[10]/a263 $/atom:poly[10]/a264
$/improper:bytype460 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a28 $/atom:poly[11]/a27 $/atom:poly[11]/a29 $/atom:poly[11]/a30
$/improper:bytype461 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a49 $/atom:poly[11]/a48 $/atom:poly[11]/a50 $/atom:poly[11]/a51
$/improper:bytype462 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a72 $/atom:poly[11]/a71 $/atom:poly[11]/a73 $/atom:poly[11]/a74
$/improper:bytype463 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a122 $/atom:poly[11]/a121 $/atom:poly[11]/a123 $/atom:poly[11]/a124
$/improper:bytype464 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a144 $/atom:poly[11]/a143 $/atom:poly[11]/a145 $/atom:poly[11]/a146
$/improper:bytype465 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a167 $/atom:poly[11]/a166 $/atom:poly[11]/a168 $/atom:poly[11]/a169
$/improper:bytype466 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a217 $/atom:poly[11]/a216 $/atom:poly[11]/a218 $/atom:poly[11]/a219
$/improper:bytype467 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a240 $/atom:poly[11]/a239 $/atom:poly[11]/a241 $/atom:poly[11]/a242
$/improper:bytype468 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a262 $/atom:poly[11]/a261 $/atom:poly[11]/a263 $/atom:poly[11]/a264
$/improper:bytype469 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a28 $/atom:poly[12]/a27 $/atom:poly[12]/a29 $/atom:poly[12]/a30
$/improper:bytype470 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a49 $/atom:poly[12]/a48 $/atom:poly[12]/a50 $/atom:poly[12]/a51
$/improper:bytype471 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a72 $/atom:poly[12]/a71 $/atom:poly[12]/a73 $/atom:poly[12]/a74
$/improper:bytype472 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a122 $/atom:poly[12]/a121 $/atom:poly[12]/a123 $/atom:poly[12]/a124
$/improper:bytype473 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a144 $/atom:poly[12]/a143 $/atom:poly[12]/a145 $/atom:poly[12]/a146
$/improper:bytype474 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a167 $/atom:poly[12]/a166 $/atom:poly[12]/a168 $/atom:poly[12]/a169
$/improper:bytype475 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a217 $/atom:poly[12]/a216 $/atom:poly[12]/a218 $/atom:poly[12]/a219
$/improper:bytype476 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a240 $/atom:poly[12]/a239 $/atom:poly[12]/a241 $/atom:poly[12]/a242
$/improper:bytype477 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a262 $/atom:poly[12]/a261 $/atom:poly[12]/a263 $/atom:poly[12]/a264
$/improper:bytype478 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a28 $/atom:poly[13]/a27 $/atom:poly[13]/a29 $/atom:poly[13]/a30
$/improper:bytype479 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a49 $/atom:poly[13]/a48 $/atom:poly[13]/a50 $/atom:poly[13]/a51
$/improper:bytype480 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a72 $/atom:poly[13]/a71 $/atom:poly[13]/a73 $/atom:poly[13]/a74
$/improper:bytype481 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a122 $/atom:poly[13]/a121 $/atom:poly[13]/a123 $/atom:poly[13]/a124
$/improper:bytype482 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a144 $/atom:poly[13]/a143 $/atom:poly[13]/a145 $/atom:poly[13]/a146
$/improper:bytype483 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a167 $/atom:poly[13]/a166 $/atom:poly[13]/a168 $/atom:poly[13]/a169
$/improper:bytype484 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a217 $/atom:poly[13]/a216 $/atom:poly[13]/a218 $/atom:poly[13]/a219
$/improper:bytype485 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a240 $/atom:poly[13]/a239 $/atom:poly[13]/a241 $/atom:poly[13]/a242
$/improper:bytype486 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a262 $/atom:poly[13]/a261 $/atom:poly[13]/a263 $/atom:poly[13]/a264
$/improper:bytype487 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a28 $/atom:poly[14]/a27 $/atom:poly[14]/a29 $/atom:poly[14]/a30
$/improper:bytype488 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a49 $/atom:poly[14]/a48 $/atom:poly[14]/a50 $/atom:poly[14]/a51
$/improper:bytype489 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a72 $/atom:poly[14]/a71 $/atom:poly[14]/a73 $/atom:poly[14]/a74
$/improper:bytype490 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a122 $/atom:poly[14]/a121 $/atom:poly[14]/a123 $/atom:poly[14]/a124
$/improper:bytype491 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a144 $/atom:poly[14]/a143 $/atom:poly[14]/a145 $/atom:poly[14]/a146
$/improper:bytype492 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a167 $/atom:poly[14]/a166 $/atom:poly[14]/a168 $/atom:poly[14]/a169
$/improper:bytype493 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a217 $/atom:poly[14]/a216 $/atom:poly[14]/a218 $/atom:poly[14]/a219
$/improper:bytype494 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a240 $/atom:poly[14]/a239 $/atom:poly[14]/a241 $/atom:poly[14]/a242
$/improper:bytype495 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a262 $/atom:poly[14]/a261 $/atom:poly[14]/a263 $/atom:poly[14]/a264
$/improper:bytype496 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a28 $/atom:poly[15]/a27 $/atom:poly[15]/a29 $/atom:poly[15]/a30
$/improper:bytype497 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a49 $/atom:poly[15]/a48 $/atom:poly[15]/a50 $/atom:poly[15]/a51
$/improper:bytype498 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a72 $/atom:poly[15]/a71 $/atom:poly[15]/a73 $/atom:poly[15]/a74
$/improper:bytype499 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a122 $/atom:poly[15]/a121 $/atom:poly[15]/a123 $/atom:poly[15]/a124
$/improper:bytype500 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a144 $/atom:poly[15]/a143 $/atom:poly[15]/a145 $/atom:poly[15]/a146
$/improper:bytype501 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a167 $/atom:poly[15]/a166 $/atom:poly[15]/a168 $/atom:poly[15]/a169
$/improper:bytype502 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a217 $/atom:poly[15]/a216 $/atom:poly[15]/a218 $/atom:poly[15]/a219
$/improper:bytype503 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a240 $/atom:poly[15]/a239 $/atom:poly[15]/a241 $/atom:poly[15]/a242
$/improper:bytype504 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a262 $/atom:poly[15]/a261 $/atom:poly[15]/a263 $/atom:poly[15]/a264
$/improper:bytype505 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a28 $/atom:poly[16]/a27 $/atom:poly[16]/a29 $/atom:poly[16]/a30
$/improper:bytype506 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a49 $/atom:poly[16]/a48 $/atom:poly[16]/a50 $/atom:poly[16]/a51
$/improper:bytype507 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a72 $/atom:poly[16]/a71 $/atom:poly[16]/a73 $/atom:poly[16]/a74
$/improper:bytype508 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a122 $/atom:poly[16]/a121 $/atom:poly[16]/a123 $/atom:poly[16]/a124
$/improper:bytype509 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a144 $/atom:poly[16]/a143 $/atom:poly[16]/a145 $/atom:poly[16]/a146
$/improper:bytype510 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a167 $/atom:poly[16]/a166 $/atom:poly[16]/a168 $/atom:poly[16]/a169
$/improper:bytype511 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a217 $/atom:poly[16]/a216 $/atom:poly[16]/a218 $/atom:poly[16]/a219
$/improper:bytype512 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a240 $/atom:poly[16]/a239 $/atom:poly[16]/a241 $/atom:poly[16]/a242
$/improper:bytype513 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a262 $/atom:poly[16]/a261 $/atom:poly[16]/a263 $/atom:poly[16]/a264
$/improper:bytype514 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a28 $/atom:poly[17]/a27 $/atom:poly[17]/a29 $/atom:poly[17]/a30
$/improper:bytype515 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a49 $/atom:poly[17]/a48 $/atom:poly[17]/a50 $/atom:poly[17]/a51
$/improper:bytype516 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a72 $/atom:poly[17]/a71 $/atom:poly[17]/a73 $/atom:poly[17]/a74
$/improper:bytype517 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a122 $/atom:poly[17]/a121 $/atom:poly[17]/a123 $/atom:poly[17]/a124
$/improper:bytype518 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a144 $/atom:poly[17]/a143 $/atom:poly[17]/a145 $/atom:poly[17]/a146
$/improper:bytype519 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a167 $/atom:poly[17]/a166 $/atom:poly[17]/a168 $/atom:poly[17]/a169
$/improper:bytype520 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a217 $/atom:poly[17]/a216 $/atom:poly[17]/a218 $/atom:poly[17]/a219
$/improper:bytype521 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a240 $/atom:poly[17]/a239 $/atom:poly[17]/a241 $/atom:poly[17]/a242
$/improper:bytype522 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a262 $/atom:poly[17]/a261 $/atom:poly[17]/a263 $/atom:poly[17]/a264
$/improper:bytype523 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a28 $/atom:poly[18]/a27 $/atom:poly[18]/a29 $/atom:poly[18]/a30
$/improper:bytype524 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a49 $/atom:poly[18]/a48 $/atom:poly[18]/a50 $/atom:poly[18]/a51
$/improper:bytype525 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a72 $/atom:poly[18]/a71 $/atom:poly[18]/a73 $/atom:poly[18]/a74
$/improper:bytype526 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a122 $/atom:poly[18]/a121 $/atom:poly[18]/a123 $/atom:poly[18]/a124
$/improper:bytype527 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a144 $/atom:poly[18]/a143 $/atom:poly[18]/a145 $/atom:poly[18]/a146
$/improper:bytype528 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a167 $/atom:poly[18]/a166 $/atom:poly[18]/a168 $/atom:poly[18]/a169
$/improper:bytype529 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a217 $/atom:poly[18]/a216 $/atom:poly[18]/a218 $/atom:poly[18]/a219
$/improper:bytype530 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a240 $/atom:poly[18]/a239 $/atom:poly[18]/a241 $/atom:poly[18]/a242
$/improper:bytype531 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a262 $/atom:poly[18]/a261 $/atom:poly[18]/a263 $/atom:poly[18]/a264
$/improper:bytype532 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a28 $/atom:poly[19]/a27 $/atom:poly[19]/a29 $/atom:poly[19]/a30
$/improper:bytype533 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a49 $/atom:poly[19]/a48 $/atom:poly[19]/a50 $/atom:poly[19]/a51
$/improper:bytype534 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a72 $/atom:poly[19]/a71 $/atom:poly[19]/a73 $/atom:poly[19]/a74
$/improper:bytype535 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a122 $/atom:poly[19]/a121 $/atom:poly[19]/a123 $/atom:poly[19]/a124
$/improper:bytype536 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a144 $/atom:poly[19]/a143 $/atom:poly[19]/a145 $/atom:poly[19]/a146
$/improper:bytype537 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a167 $/atom:poly[19]/a166 $/atom:poly[19]/a168 $/atom:poly[19]/a169
$/improper:bytype538 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a217 $/atom:poly[19]/a216 $/atom:poly[19]/a218 $/atom:poly[19]/a219
$/improper:bytype539 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a240 $/atom:poly[19]/a239 $/atom:poly[19]/a241 $/atom:poly[19]/a242
$/improper:bytype540 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a262 $/atom:poly[19]/a261 $/atom:poly[19]/a263 $/atom:poly[19]/a264
$/improper:bytype541 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a32 $/atom:poly[0]/a33 $/atom:poly[0]/a36 $/atom:poly[0]/a37
$/improper:bytype542 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a54 $/atom:poly[0]/a55 $/atom:poly[0]/a58 $/atom:poly[0]/a59
$/improper:bytype543 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a127 $/atom:poly[0]/a128 $/atom:poly[0]/a131 $/atom:poly[0]/a132
$/improper:bytype544 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a149 $/atom:poly[0]/a150 $/atom:poly[0]/a153 $/atom:poly[0]/a154
$/improper:bytype545 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a223 $/atom:poly[0]/a224 $/atom:poly[0]/a227 $/atom:poly[0]/a228
$/improper:bytype546 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a244 $/atom:poly[0]/a245 $/atom:poly[0]/a248 $/atom:poly[0]/a249
$/improper:bytype547 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a32 $/atom:poly[1]/a33 $/atom:poly[1]/a36 $/atom:poly[1]/a37
$/improper:bytype548 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a54 $/atom:poly[1]/a55 $/atom:poly[1]/a58 $/atom:poly[1]/a59
$/improper:bytype549 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a127 $/atom:poly[1]/a128 $/atom:poly[1]/a131 $/atom:poly[1]/a132
$/improper:bytype550 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a149 $/atom:poly[1]/a150 $/atom:poly[1]/a153 $/atom:poly[1]/a154
$/improper:bytype551 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a223 $/atom:poly[1]/a224 $/atom:poly[1]/a227 $/atom:poly[1]/a228
$/improper:bytype552 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a244 $/atom:poly[1]/a245 $/atom:poly[1]/a248 $/atom:poly[1]/a249
$/improper:bytype553 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a32 $/atom:poly[2]/a33 $/atom:poly[2]/a36 $/atom:poly[2]/a37
$/improper:bytype554 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a54 $/atom:poly[2]/a55 $/atom:poly[2]/a58 $/atom:poly[2]/a59
$/improper:bytype555 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a127 $/atom:poly[2]/a128 $/atom:poly[2]/a131 $/atom:poly[2]/a132
$/improper:bytype556 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a149 $/atom:poly[2]/a150 $/atom:poly[2]/a153 $/atom:poly[2]/a154
$/improper:bytype557 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a223 $/atom:poly[2]/a224 $/atom:poly[2]/a227 $/atom:poly[2]/a228
$/improper:bytype558 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a244 $/atom:poly[2]/a245 $/atom:poly[2]/a248 $/atom:poly[2]/a249
$/improper:bytype559 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a32 $/atom:poly[3]/a33 $/atom:poly[3]/a36 $/atom:poly[3]/a37
$/improper:bytype560 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a54 $/atom:poly[3]/a55 $/atom:poly[3]/a58 $/atom:poly[3]/a59
$/improper:bytype561 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a127 $/atom:poly[3]/a128 $/atom:poly[3]/a131 $/atom:poly[3]/a132
$/improper:bytype562 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a149 $/atom:poly[3]/a150 $/atom:poly[3]/a153 $/atom:poly[3]/a154
$/improper:bytype563 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a223 $/atom:poly[3]/a224 $/atom:poly[3]/a227 $/atom:poly[3]/a228
$/improper:bytype564 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a244 $/atom:poly[3]/a245 $/atom:poly[3]/a248 $/atom:poly[3]/a249
$/improper:bytype565 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a32 $/atom:poly[4]/a33 $/atom:poly[4]/a36 $/atom:poly[4]/a37
$/improper:bytype566 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a54 $/atom:poly[4]/a55 $/atom:poly[4]/a58 $/atom:poly[4]/a59
$/improper:bytype567 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a127 $/atom:poly[4]/a128 $/atom:poly[4]/a131 $/atom:poly[4]/a132
$/improper:bytype568 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a149 $/atom:poly[4]/a150 $/atom:poly[4]/a153 $/atom:poly[4]/a154
$/improper:bytype569 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a223 $/atom:poly[4]/a224 $/atom:poly[4]/a227 $/atom:poly[4]/a228
$/improper:bytype570 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a244 $/atom:poly[4]/a245 $/atom:poly[4]/a248 $/atom:poly[4]/a249
$/improper:bytype571 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a32 $/atom:poly[5]/a33 $/atom:poly[5]/a36 $/atom:poly[5]/a37
$/improper:bytype572 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a54 $/atom:poly[5]/a55 $/atom:poly[5]/a58 $/atom:poly[5]/a59
$/improper:bytype573 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a127 $/atom:poly[5]/a128 $/atom:poly[5]/a131 $/atom:poly[5]/a132
$/improper:bytype574 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a149 $/atom:poly[5]/a150 $/atom:poly[5]/a153 $/atom:poly[5]/a154
$/improper:bytype575 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a223 $/atom:poly[5]/a224 $/atom:poly[5]/a227 $/atom:poly[5]/a228
$/improper:bytype576 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a244 $/atom:poly[5]/a245 $/atom:poly[5]/a248 $/atom:poly[5]/a249
$/improper:bytype577 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a32 $/atom:poly[6]/a33 $/atom:poly[6]/a36 $/atom:poly[6]/a37
$/improper:bytype578 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a54 $/atom:poly[6]/a55 $/atom:poly[6]/a58 $/atom:poly[6]/a59
$/improper:bytype579 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a127 $/atom:poly[6]/a128 $/atom:poly[6]/a131 $/atom:poly[6]/a132
$/improper:bytype580 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a149 $/atom:poly[6]/a150 $/atom:poly[6]/a153 $/atom:poly[6]/a154
$/improper:bytype581 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a223 $/atom:poly[6]/a224 $/atom:poly[6]/a227 $/atom:poly[6]/a228
$/improper:bytype582 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a244 $/atom:poly[6]/a245 $/atom:poly[6]/a248 $/atom:poly[6]/a249
$/improper:bytype583 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a32 $/atom:poly[7]/a33 $/atom:poly[7]/a36 $/atom:poly[7]/a37
$/improper:bytype584 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a54 $/atom:poly[7]/a55 $/atom:poly[7]/a58 $/atom:poly[7]/a59
$/improper:bytype585 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a127 $/atom:poly[7]/a128 $/atom:poly[7]/a131 $/atom:poly[7]/a132
$/improper:bytype586 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a149 $/atom:poly[7]/a150 $/atom:poly[7]/a153 $/atom:poly[7]/a154
$/improper:bytype587 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a223 $/atom:poly[7]/a224 $/atom:poly[7]/a227 $/atom:poly[7]/a228
$/improper:bytype588 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a244 $/atom:poly[7]/a245 $/atom:poly[7]/a248 $/atom:poly[7]/a249
$/improper:bytype589 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a32 $/atom:poly[8]/a33 $/atom:poly[8]/a36 $/atom:poly[8]/a37
$/improper:bytype590 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a54 $/atom:poly[8]/a55 $/atom:poly[8]/a58 $/atom:poly[8]/a59
$/improper:bytype591 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a127 $/atom:poly[8]/a128 $/atom:poly[8]/a131 $/atom:poly[8]/a132
$/improper:bytype592 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a149 $/atom:poly[8]/a150 $/atom:poly[8]/a153 $/atom:poly[8]/a154
$/improper:bytype593 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a223 $/atom:poly[8]/a224 $/atom:poly[8]/a227 $/atom:poly[8]/a228
$/improper:bytype594 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a244 $/atom:poly[8]/a245 $/atom:poly[8]/a248 $/atom:poly[8]/a249
$/improper:bytype595 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a32 $/atom:poly[9]/a33 $/atom:poly[9]/a36 $/atom:poly[9]/a37
$/improper:bytype596 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a54 $/atom:poly[9]/a55 $/atom:poly[9]/a58 $/atom:poly[9]/a59
$/improper:bytype597 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a127 $/atom:poly[9]/a128 $/atom:poly[9]/a131 $/atom:poly[9]/a132
$/improper:bytype598 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a149 $/atom:poly[9]/a150 $/atom:poly[9]/a153 $/atom:poly[9]/a154
$/improper:bytype599 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a223 $/atom:poly[9]/a224 $/atom:poly[9]/a227 $/atom:poly[9]/a228
$/improper:bytype600 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a244 $/atom:poly[9]/a245 $/atom:poly[9]/a248 $/atom:poly[9]/a249
$/improper:bytype601 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a32 $/atom:poly[10]/a33 $/atom:poly[10]/a36 $/atom:poly[10]/a37
$/improper:bytype602 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a54 $/atom:poly[10]/a55 $/atom:poly[10]/a58 $/atom:poly[10]/a59
$/improper:bytype603 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a127 $/atom:poly[10]/a128 $/atom:poly[10]/a131 $/atom:poly[10]/a132
$/improper:bytype604 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a149 $/atom:poly[10]/a150 $/atom:poly[10]/a153 $/atom:poly[10]/a154
$/improper:bytype605 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a223 $/atom:poly[10]/a224 $/atom:poly[10]/a227 $/atom:poly[10]/a228
$/improper:bytype606 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a244 $/atom:poly[10]/a245 $/atom:poly[10]/a248 $/atom:poly[10]/a249
$/improper:bytype607 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a32 $/atom:poly[11]/a33 $/atom:poly[11]/a36 $/atom:poly[11]/a37
$/improper:bytype608 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a54 $/atom:poly[11]/a55 $/atom:poly[11]/a58 $/atom:poly[11]/a59
$/improper:bytype609 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a127 $/atom:poly[11]/a128 $/atom:poly[11]/a131 $/atom:poly[11]/a132
$/improper:bytype610 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a149 $/atom:poly[11]/a150 $/atom:poly[11]/a153 $/atom:poly[11]/a154
$/improper:bytype611 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a223 $/atom:poly[11]/a224 $/atom:poly[11]/a227 $/atom:poly[11]/a228
$/improper:bytype612 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a244 $/atom:poly[11]/a245 $/atom:poly[11]/a248 $/atom:poly[11]/a249
$/improper:bytype613 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a32 $/atom:poly[12]/a33 $/atom:poly[12]/a36 $/atom:poly[12]/a37
$/improper:bytype614 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a54 $/atom:poly[12]/a55 $/atom:poly[12]/a58 $/atom:poly[12]/a59
$/improper:bytype615 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a127 $/atom:poly[12]/a128 $/atom:poly[12]/a131 $/atom:poly[12]/a132
$/improper:bytype616 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a149 $/atom:poly[12]/a150 $/atom:poly[12]/a153 $/atom:poly[12]/a154
$/improper:bytype617 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a223 $/atom:poly[12]/a224 $/atom:poly[12]/a227 $/atom:poly[12]/a228
$/improper:bytype618 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a244 $/atom:poly[12]/a245 $/atom:poly[12]/a248 $/atom:poly[12]/a249
$/improper:bytype619 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a32 $/atom:poly[13]/a33 $/atom:poly[13]/a36 $/atom:poly[13]/a37
$/improper:bytype620 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a54 $/atom:poly[13]/a55 $/atom:poly[13]/a58 $/atom:poly[13]/a59
$/improper:bytype621 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a127 $/atom:poly[13]/a128 $/atom:poly[13]/a131 $/atom:poly[13]/a132
$/improper:bytype622 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a149 $/atom:poly[13]/a150 $/atom:poly[13]/a153 $/atom:poly[13]/a154
$/improper:bytype623 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a223 $/atom:poly[13]/a224 $/atom:poly[13]/a227 $/atom:poly[13]/a228
$/improper:bytype624 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a244 $/atom:poly[13]/a245 $/atom:poly[13]/a248 $/atom:poly[13]/a249
$/improper:bytype625 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a32 $/atom:poly[14]/a33 $/atom:poly[14]/a36 $/atom:poly[14]/a37
$/improper:bytype626 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a54 $/atom:poly[14]/a55 $/atom:poly[14]/a58 $/atom:poly[14]/a59
$/improper:bytype627 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a127 $/atom:poly[14]/a128 $/atom:poly[14]/a131 $/atom:poly[14]/a132
$/improper:bytype628 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a149 $/atom:poly[14]/a150 $/atom:poly[14]/a153 $/atom:poly[14]/a154
$/improper:bytype629 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a223 $/atom:poly[14]/a224 $/atom:poly[14]/a227 $/atom:poly[14]/a228
$/improper:bytype630 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a244 $/atom:poly[14]/a245 $/atom:poly[14]/a248 $/atom:poly[14]/a249
$/improper:bytype631 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a32 $/atom:poly[15]/a33 $/atom:poly[15]/a36 $/atom:poly[15]/a37
$/improper:bytype632 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a54 $/atom:poly[15]/a55 $/atom:poly[15]/a58 $/atom:poly[15]/a59
$/improper:bytype633 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a127 $/atom:poly[15]/a128 $/atom:poly[15]/a131 $/atom:poly[15]/a132
$/improper:bytype634 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a149 $/atom:poly[15]/a150 $/atom:poly[15]/a153 $/atom:poly[15]/a154
$/improper:bytype635 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a223 $/atom:poly[15]/a224 $/atom:poly[15]/a227 $/atom:poly[15]/a228
$/improper:bytype636 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a244 $/atom:poly[15]/a245 $/atom:poly[15]/a248 $/atom:poly[15]/a249
$/improper:bytype637 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a32 $/atom:poly[16]/a33 $/atom:poly[16]/a36 $/atom:poly[16]/a37
$/improper:bytype638 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a54 $/atom:poly[16]/a55 $/atom:poly[16]/a58 $/atom:poly[16]/a59
$/improper:bytype639 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a127 $/atom:poly[16]/a128 $/atom:poly[16]/a131 $/atom:poly[16]/a132
$/improper:bytype640 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a149 $/atom:poly[16]/a150 $/atom:poly[16]/a153 $/atom:poly[16]/a154
$/improper:bytype641 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a223 $/atom:poly[16]/a224 $/atom:poly[16]/a227 $/atom:poly[16]/a228
$/improper:bytype642 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a244 $/atom:poly[16]/a245 $/atom:poly[16]/a248 $/atom:poly[16]/a249
$/improper:bytype643 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a32 $/atom:poly[17]/a33 $/atom:poly[17]/a36 $/atom:poly[17]/a37
$/improper:bytype644 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a54 $/atom:poly[17]/a55 $/atom:poly[17]/a58 $/atom:poly[17]/a59
$/improper:bytype645 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a127 $/atom:poly[17]/a128 $/atom:poly[17]/a131 $/atom:poly[17]/a132
$/improper:bytype646 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a149 $/atom:poly[17]/a150 $/atom:poly[17]/a153 $/atom:poly[17]/a154
$/improper:bytype647 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a223 $/atom:poly[17]/a224 $/atom:poly[17]/a227 $/atom:poly[17]/a228
$/improper:bytype648 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a244 $/atom:poly[17]/a245 $/atom:poly[17]/a248 $/atom:poly[17]/a249
$/improper:bytype649 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a32 $/atom:poly[18]/a33 $/atom:poly[18]/a36 $/atom:poly[18]/a37
$/improper:bytype650 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a54 $/atom:poly[18]/a55 $/atom:poly[18]/a58 $/atom:poly[18]/a59
$/improper:bytype651 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a127 $/atom:poly[18]/a128 $/atom:poly[18]/a131 $/atom:poly[18]/a132
$/improper:bytype652 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a149 $/atom:poly[18]/a150 $/atom:poly[18]/a153 $/atom:poly[18]/a154
$/improper:bytype653 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a223 $/atom:poly[18]/a224 $/atom:poly[18]/a227 $/atom:poly[18]/a228
$/improper:bytype654 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a244 $/atom:poly[18]/a245 $/atom:poly[18]/a248 $/atom:poly[18]/a249
$/improper:bytype655 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a32 $/atom:poly[19]/a33 $/atom:poly[19]/a36 $/atom:poly[19]/a37
$/improper:bytype656 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a54 $/atom:poly[19]/a55 $/atom:poly[19]/a58 $/atom:poly[19]/a59
$/improper:bytype657 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a127 $/atom:poly[19]/a128 $/atom:poly[19]/a131 $/atom:poly[19]/a132
$/improper:bytype658 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a149 $/atom:poly[19]/a150 $/atom:poly[19]/a153 $/atom:poly[19]/a154
$/improper:bytype659 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a223 $/atom:poly[19]/a224 $/atom:poly[19]/a227 $/atom:poly[19]/a228
$/improper:bytype660 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a244 $/atom:poly[19]/a245 $/atom:poly[19]/a248 $/atom:poly[19]/a249
$/improper:bytype661 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a89 $/atom:poly[0]/a88 $/atom:poly[0]/a90 $/atom:poly[0]/a91
$/improper:bytype662 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a184 $/atom:poly[0]/a183 $/atom:poly[0]/a185 $/atom:poly[0]/a186
$/improper:bytype663 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[0]/a279 $/atom:poly[0]/a278 $/atom:poly[0]/a280 $/atom:poly[0]/a281
$/improper:bytype664 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a89 $/atom:poly[1]/a88 $/atom:poly[1]/a90 $/atom:poly[1]/a91
$/improper:bytype665 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a184 $/atom:poly[1]/a183 $/atom:poly[1]/a185 $/atom:poly[1]/a186
$/improper:bytype666 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[1]/a279 $/atom:poly[1]/a278 $/atom:poly[1]/a280 $/atom:poly[1]/a281
$/improper:bytype667 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a89 $/atom:poly[2]/a88 $/atom:poly[2]/a90 $/atom:poly[2]/a91
$/improper:bytype668 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a184 $/atom:poly[2]/a183 $/atom:poly[2]/a185 $/atom:poly[2]/a186
$/improper:bytype669 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[2]/a279 $/atom:poly[2]/a278 $/atom:poly[2]/a280 $/atom:poly[2]/a281
$/improper:bytype670 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a89 $/atom:poly[3]/a88 $/atom:poly[3]/a90 $/atom:poly[3]/a91
$/improper:bytype671 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a184 $/atom:poly[3]/a183 $/atom:poly[3]/a185 $/atom:poly[3]/a186
$/improper:bytype672 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[3]/a279 $/atom:poly[3]/a278 $/atom:poly[3]/a280 $/atom:poly[3]/a281
$/improper:bytype673 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a89 $/atom:poly[4]/a88 $/atom:poly[4]/a90 $/atom:poly[4]/a91
$/improper:bytype674 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a184 $/atom:poly[4]/a183 $/atom:poly[4]/a185 $/atom:poly[4]/a186
$/improper:bytype675 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[4]/a279 $/atom:poly[4]/a278 $/atom:poly[4]/a280 $/atom:poly[4]/a281
$/improper:bytype676 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a89 $/atom:poly[5]/a88 $/atom:poly[5]/a90 $/atom:poly[5]/a91
$/improper:bytype677 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a184 $/atom:poly[5]/a183 $/atom:poly[5]/a185 $/atom:poly[5]/a186
$/improper:bytype678 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[5]/a279 $/atom:poly[5]/a278 $/atom:poly[5]/a280 $/atom:poly[5]/a281
$/improper:bytype679 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a89 $/atom:poly[6]/a88 $/atom:poly[6]/a90 $/atom:poly[6]/a91
$/improper:bytype680 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a184 $/atom:poly[6]/a183 $/atom:poly[6]/a185 $/atom:poly[6]/a186
$/improper:bytype681 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[6]/a279 $/atom:poly[6]/a278 $/atom:poly[6]/a280 $/atom:poly[6]/a281
$/improper:bytype682 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a89 $/atom:poly[7]/a88 $/atom:poly[7]/a90 $/atom:poly[7]/a91
$/improper:bytype683 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a184 $/atom:poly[7]/a183 $/atom:poly[7]/a185 $/atom:poly[7]/a186
$/improper:bytype684 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[7]/a279 $/atom:poly[7]/a278 $/atom:poly[7]/a280 $/atom:poly[7]/a281
$/improper:bytype685 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a89 $/atom:poly[8]/a88 $/atom:poly[8]/a90 $/atom:poly[8]/a91
$/improper:bytype686 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a184 $/atom:poly[8]/a183 $/atom:poly[8]/a185 $/atom:poly[8]/a186
$/improper:bytype687 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[8]/a279 $/atom:poly[8]/a278 $/atom:poly[8]/a280 $/atom:poly[8]/a281
$/improper:bytype688 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a89 $/atom:poly[9]/a88 $/atom:poly[9]/a90 $/atom:poly[9]/a91
$/improper:bytype689 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a184 $/atom:poly[9]/a183 $/atom:poly[9]/a185 $/atom:poly[9]/a186
$/improper:bytype690 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[9]/a279 $/atom:poly[9]/a278 $/atom:poly[9]/a280 $/atom:poly[9]/a281
$/improper:bytype691 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a89 $/atom:poly[10]/a88 $/atom:poly[10]/a90 $/atom:poly[10]/a91
$/improper:bytype692 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a184 $/atom:poly[10]/a183 $/atom:poly[10]/a185 $/atom:poly[10]/a186
$/improper:bytype693 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[10]/a279 $/atom:poly[10]/a278 $/atom:poly[10]/a280 $/atom:poly[10]/a281
$/improper:bytype694 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a89 $/atom:poly[11]/a88 $/atom:poly[11]/a90 $/atom:poly[11]/a91
$/improper:bytype695 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a184 $/atom:poly[11]/a183 $/atom:poly[11]/a185 $/atom:poly[11]/a186
$/improper:bytype696 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[11]/a279 $/atom:poly[11]/a278 $/atom:poly[11]/a280 $/atom:poly[11]/a281
$/improper:bytype697 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a89 $/atom:poly[12]/a88 $/atom:poly[12]/a90 $/atom:poly[12]/a91
$/improper:bytype698 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a184 $/atom:poly[12]/a183 $/atom:poly[12]/a185 $/atom:poly[12]/a186
$/improper:bytype699 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[12]/a279 $/atom:poly[12]/a278 $/atom:poly[12]/a280 $/atom:poly[12]/a281
$/improper:bytype700 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a89 $/atom:poly[13]/a88 $/atom:poly[13]/a90 $/atom:poly[13]/a91
$/improper:bytype701 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a184 $/atom:poly[13]/a183 $/atom:poly[13]/a185 $/atom:poly[13]/a186
$/improper:bytype702 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[13]/a279 $/atom:poly[13]/a278 $/atom:poly[13]/a280 $/atom:poly[13]/a281
$/improper:bytype703 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a89 $/atom:poly[14]/a88 $/atom:poly[14]/a90 $/atom:poly[14]/a91
$/improper:bytype704 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a184 $/atom:poly[14]/a183 $/atom:poly[14]/a185 $/atom:poly[14]/a186
$/improper:bytype705 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[14]/a279 $/atom:poly[14]/a278 $/atom:poly[14]/a280 $/atom:poly[14]/a281
$/improper:bytype706 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a89 $/atom:poly[15]/a88 $/atom:poly[15]/a90 $/atom:poly[15]/a91
$/improper:bytype707 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a184 $/atom:poly[15]/a183 $/atom:poly[15]/a185 $/atom:poly[15]/a186
$/improper:bytype708 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[15]/a279 $/atom:poly[15]/a278 $/atom:poly[15]/a280 $/atom:poly[15]/a281
$/improper:bytype709 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a89 $/atom:poly[16]/a88 $/atom:poly[16]/a90 $/atom:poly[16]/a91
$/improper:bytype710 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a184 $/atom:poly[16]/a183 $/atom:poly[16]/a185 $/atom:poly[16]/a186
$/improper:bytype711 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[16]/a279 $/atom:poly[16]/a278 $/atom:poly[16]/a280 $/atom:poly[16]/a281
$/improper:bytype712 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a89 $/atom:poly[17]/a88 $/atom:poly[17]/a90 $/atom:poly[17]/a91
$/improper:bytype713 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a184 $/atom:poly[17]/a183 $/atom:poly[17]/a185 $/atom:poly[17]/a186
$/improper:bytype714 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[17]/a279 $/atom:poly[17]/a278 $/atom:poly[17]/a280 $/atom:poly[17]/a281
$/improper:bytype715 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a89 $/atom:poly[18]/a88 $/atom:poly[18]/a90 $/atom:poly[18]/a91
$/improper:bytype716 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a184 $/atom:poly[18]/a183 $/atom:poly[18]/a185 $/atom:poly[18]/a186
$/improper:bytype717 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[18]/a279 $/atom:poly[18]/a278 $/atom:poly[18]/a280 $/atom:poly[18]/a281
$/improper:bytype718 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a89 $/atom:poly[19]/a88 $/atom:poly[19]/a90 $/atom:poly[19]/a91
$/improper:bytype719 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a184 $/atom:poly[19]/a183 $/atom:poly[19]/a185 $/atom:poly[19]/a186
$/improper:bytype720 @/improper:OPLSAA/C~_O~_€€_€€ $/atom:poly[19]/a279 $/atom:poly[19]/a278 $/atom:poly[19]/a280 $/atom:poly[19]/a281
